---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/acerca.css"
---

<MainLayout title="Acerca de nosotros" seoTitle="Acerca de Nosotros">
    <section class="pt-8">
        <h3 class="text-5xl w-full text-center text-white uppercase">Acerca de nosotros</h3>
        <p class="section-lead">Descubre la esencia de <b>Nexuvi</b></p>
        <div class="services-grid">
            <div class="service service2 bg-slate-900 drop-shadow-[0px_35px_35px_rgba(66,95,202,0.2)] hover:drop-shadow-[0px_35px_35px_rgba(66,95,202,0.6)]">
                <svg class="w-16 h-16" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#425fca" d="M20.172 6.75h-1.861l-4.566 4.564a1.874 1.874 0 1 1-1.06-1.06l4.565-4.565V3.828a.94.94 0 0 1 .275-.664l1.73-1.73a.249.249 0 0 1 .25-.063c.089.026.155.1.173.191l.46 2.301l2.3.46c.09.018.164.084.19.173a.25.25 0 0 1-.062.249l-1.731 1.73a.937.937 0 0 1-.663.275"/><path fill="#425fca" d="M2.625 12A9.375 9.375 0 0 0 12 21.375A9.375 9.375 0 0 0 21.375 12c0-.898-.126-1.766-.361-2.587A.75.75 0 0 1 22.455 9c.274.954.42 1.96.42 3c0 6.006-4.869 10.875-10.875 10.875S1.125 18.006 1.125 12S5.994 1.125 12 1.125c1.015-.001 2.024.14 3 .419a.75.75 0 1 1-.413 1.442A9.39 9.39 0 0 0 12 2.625A9.375 9.375 0 0 0 2.625 12"/><path fill="#425fca" d="M7.125 12a4.874 4.874 0 1 0 9.717-.569a.748.748 0 0 1 1.047-.798c.251.112.42.351.442.625a6.373 6.373 0 0 1-10.836 5.253a6.376 6.376 0 0 1 5.236-10.844a.75.75 0 1 1-.17 1.49A4.876 4.876 0 0 0 7.125 12"/></svg>
                <h4>MISIÓN</h4>
                <p>Revolucionar la operatividad de las pequeñas y medianas empresas con soluciones tecnológicas especializadas, ofreciendo sistemas de software a medida para automatizar procesos, potenciando la eficiencia y productividad de nuestros clientes.</p>
            </div>

            <div class="service service1 bg-slate-900 drop-shadow-[0px_35px_35px_rgba(66,183,202,0.1)] hover:drop-shadow-[0px_35px_35px_rgba(66,183,202,0.6)]">
                <svg class="w-16 h-16" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#42b7ca" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M15 12a3 3 0 1 1-6 0a3 3 0 0 1 6 0"/><path d="M2 12c1.6-4.097 5.336-7 10-7s8.4 2.903 10 7c-1.6 4.097-5.336 7-10 7s-8.4-2.903-10-7"/></g></svg>
                <h4>VISIÓN</h4>
                <p>Ser líderes indiscutibles entre las consultoras de software y un referente innovador en el desarrollo de software, liderando el cambio hacia soluciones tecnológicas avanzadas que satisfagan las necesidades específicas de las empresas de nuestra región.</p>
            </div>

            <div class="service service3 bg-slate-900 drop-shadow-[0px_35px_35px_rgba(156,66,202,0.1)] hover:drop-shadow-[0px_35px_35px_rgba(156,66,202,0.6)]">
                <svg class="w-16 h-16" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path fill="none" stroke="#9c42ca" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="m35.42 188.21l207.75 269.46a16.17 16.17 0 0 0 25.66 0l207.75-269.46a16.52 16.52 0 0 0 .95-18.75L407.06 55.71A16.22 16.22 0 0 0 393.27 48H118.73a16.22 16.22 0 0 0-13.79 7.71L34.47 169.46a16.52 16.52 0 0 0 .95 18.75M48 176h416"/><path fill="none" stroke="#9c42ca" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="m400 64l-48 112l-96-128M112 64l48 112l96-128m0 400l-96-272m96 272l96-272"/></svg>
                <h4>VALORES</h4>
                <p>Nos comprometemos con la calidad en cada línea de código, colaborando en equipo con integridad y adaptabilidad para satisfacer las necesidades de nuestros clientes. Valoramos el aprendizaje continuo y siempre persiguiendo la excelencia.</p>
            </div>
        </div>
    </section>
</MainLayout>